# **PART 1: DATA COLLECTION AND CURATION**

## **Install and Import Required Libraries**

In [ ]:
! pip install chembl_webresource_client

Collecting chembl_webresource_client
  Downloading chembl_webresource_client-0.10.9-py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.12/dist-packages (from chembl_webresource_client) (2.5.0)
Requirement already satisfied: requests>=2.18.4 in /usr/local/lib/python3.12/dist-packages (from chembl_webresource_client) (2.32.4)
Collecting requests-cache~=1.2 (from chembl_webresource_client)
  Downloading requests_cache-1.2.1-py3-none-any.whl.metadata (9.9 kB)
Requirement already satisfied: easydict in /usr/local/lib/python3.12/dist-packages (from chembl_webresource_client) (1.13)
Requirement already satisfied: charset_normalizer<4,>=2 in /usr/local/lib/python3.12/dist-packages (from requests>=2.18.4->chembl_webresource_client) (3.4.4)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.12/dist-packages (from requests>=2.18.4->chembl_webresource_client) (3.11)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.12/dist-packages (from requests>=2.18.4->chembl_webresource_client) (2026.1.4)
Requirement already satisfied: attrs>=21.2 in /usr/local/lib/python3.12/dist-packages (from requests-cache~=1.2->chembl_webresource_client) (25.4.0)
Collecting cattrs>=22.2 (from requests-cache~=1.2->chembl_webresource_client)
  Downloading cattrs-25.3.0-py3-none-any.whl.metadata (8.4 kB)
Requirement already satisfied: platformdirs>=2.5 in /usr/local/lib/python3.12/dist-packages (from requests-cache~=1.2->chembl_webresource_client) (4.5.1)
Collecting url-normalize>=1.4 (from requests-cache~=1.2->chembl_webresource_client)
  Downloading url_normalize-2.2.1-py3-none-any.whl.metadata (5.6 kB)
Requirement already satisfied: typing-extensions>=4.14.0 in /usr/local/lib/python3.12/dist-packages (from cattrs>=22.2->requests-cache~=1.2->chembl_webresource_client) (4.15.0)
Downloading chembl_webresource_client-0.10.9-py3-none-any.whl (55 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 55.2/55.2 kB 4.5 MB/s eta 0:00:00
Downloading requests_cache-1.2.1-py3-none-any.whl (61 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 61.4/61.4 kB 5.6 MB/s eta 0:00:00
Downloading cattrs-25.3.0-py3-none-any.whl (70 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 70.7/70.7 kB 6.7 MB/s eta 0:00:00
Downloading url_normalize-2.2.1-py3-none-any.whl (14 kB)
Installing collected packages: url-normalize, cattrs, requests-cache, chembl_webresource_client
Successfully installed cattrs-25.3.0 chembl_webresource_client-0.10.9 requests-cache-1.2.1 url-normalize-2.2.1

In [ ]:
import pandas as pd
from chembl_webresource_client.new_client import new_client

## **Step 1: Search for target protein**

In [ ]:
target = new_client.target
target_query = target.search("CASP8")
targets = pd.DataFrame.from_dict(target_query)
targets

,cross_references,organism,pref_name,score,species_group_flag,target_chembl_id,target_components,target_type,tax_id
0,[],Mus musculus,Caspase-8,18.0,False,CHEMBL4630806,"[{'accession': 'O89110', 'component_descriptio...",SINGLE PROTEIN,10090
1,[],Homo sapiens,CASP8 and FADD-like apoptosis regulator,15.0,False,CHEMBL1955713,"[{'accession': 'O15519', 'component_descriptio...",SINGLE PROTEIN,9606
2,[],Homo sapiens,Caspase-8,13.0,False,CHEMBL3776,"[{'accession': 'Q14790', 'component_descriptio...",SINGLE PROTEIN,9606
3,[],Homo sapiens,Caspase,3.0,False,CHEMBL3831289,"[{'accession': 'P49662', 'component_descriptio...",PROTEIN FAMILY,9606

## Retrieving only bioactivity data for target;

In [ ]:
selected_target = targets.target_chembl_id[2]
selected_target

'CHEMBL3776'

## Retrieving only bioactivity data for target; CHEMBL4105965 with reported IC50 values in nM (nanomolar) unit

In [ ]:
activity = new_client.activity
results = activity.filter(target_chembl_id = selected_target).filter(standard_type = 'IC50')

In [ ]:
df1 = pd.DataFrame.from_dict(results)
df1.head()

,action_type,activity_comment,activity_id,activity_properties,assay_chembl_id,assay_description,assay_type,assay_variant_accession,assay_variant_mutation,bao_endpoint,...,target_organism,target_pref_name,target_tax_id,text_value,toid,type,units,uo_units,upper_value,value
0,None,None,185163,[],CHEMBL657316,Binding affinity towards human Caspase-8,B,None,None,BAO_0000190,...,Homo sapiens,Caspase-8,9606,None,None,IC50,uM,UO_0000065,None,0.007
1,None,None,191485,[],CHEMBL657316,Binding affinity towards human Caspase-8,B,None,None,BAO_0000190,...,Homo sapiens,Caspase-8,9606,None,None,IC50,uM,UO_0000065,None,0.179
2,None,None,194920,[],CHEMBL657316,Binding affinity towards human Caspase-8,B,None,None,BAO_0000190,...,Homo sapiens,Caspase-8,9606,None,None,IC50,uM,UO_0000065,None,0.77
3,None,None,266593,[],CHEMBL659710,Inhibition of Caspase-8 enzyme,B,None,None,BAO_0000190,...,Homo sapiens,Caspase-8,9606,None,None,IC50,uM,UO_0000065,None,0.012
4,None,None,269086,[],CHEMBL659710,Inhibition of Caspase-8 enzyme,B,None,None,BAO_0000190,...,Homo sapiens,Caspase-8,9606,None,None,IC50,uM,UO_0000065,None,0.017

In [ ]:
df1.standard_type.unique()

array(['IC50'], dtype=object)

In [ ]:
df1['standard_type'].value_counts()

standard_type
IC50    459
Name: count, dtype: int64

In [ ]:
df1.shape

(459, 46)

In [ ]:
df1[['standard_value', 'standard_units']].head()

  standard_value standard_units
0            7.0             nM
1          179.0             nM
2          770.0             nM
3           12.0             nM
4           17.0             nM

In [ ]:
## Saving the resulting bioactivity data to a CSV file bioactivity_raw_data.csv

In [ ]:
df1.to_csv('bioactivity_raw_data.csv', index = False)

## Copying to the folder 'Datasets

In [ ]:
! cp bioactivity_raw_data.csv "/content/drive/MyDrive/Colab Notebooks/Datasets"

In [ ]:
! ls -l "/content/drive/MyDrive/Colab Notebooks/Datasets"

total 95279
-rw------- 1 root root   228762 Jan 31 13:30  bioactivity_raw_data.csv
-rw------- 1 root root  3296741 Dec 23 15:43  books.csv
-rw------- 1 root root    16018 Dec 22 10:41  Car_sales.csv
-rw------- 1 root root   194323 Jan  9 01:19 'Classified Data'
-rw------- 1 root root    23873 Nov 24 13:25  diabetes.csv
-rw------- 1 root root   118350 Dec 20 15:16  gdp.csv
-rw------- 1 root root 47926289 Dec 23 15:52 'IMDb movies.csv'
-rw------- 1 root root 17449108 Dec 23 16:06 'IMDb ratings.csv'
-rw------- 1 root root   198100 Dec 14 04:13  laptop_price.csv
-rw------- 1 root root  3399671 Dec 26 11:27  netflix_titles.csv
-rw------- 1 root root  8945067 Dec 14 21:43  players_20.csv
-rw------- 1 root root    99524 Dec 20 17:31  population_total.csv
-rw------- 1 root root 12437766 Dec 23 15:43  ratings.csv
-rw------- 1 root root    72036 Dec 11 12:12  StudentsPerformance.csv
-rw------- 1 root root   140285 Jan  1 10:57 'SuperMarket Analysis.csv'
-rw------- 1 root root   121621 Dec 20 16:57  supermarket_sales.xlsx
-rw------- 1 root root   722480 Dec 23 15:43  tags.csv
-rw------- 1 root root    28210 Jan  7 14:19  titanic_test.csv
-rw------- 1 root root    60302 Jan  7 14:19  titanic_train.csv
-rw------- 1 root root   726209 Jan  7 11:05  USA_Housing.csv
-rw------- 1 root root  1355781 Dec 22 10:41  vgsales.csv

In [ ]:
! head bioactivity_raw_data.csv

action_type,activity_comment,activity_id,activity_properties,assay_chembl_id,assay_description,assay_type,assay_variant_accession,assay_variant_mutation,bao_endpoint,bao_format,bao_label,canonical_smiles,data_validity_comment,data_validity_description,document_chembl_id,document_journal,document_year,ligand_efficiency,molecule_chembl_id,molecule_pref_name,parent_molecule_chembl_id,pchembl_value,potential_duplicate,qudt_units,record_id,relation,src_id,standard_flag,standard_relation,standard_text_value,standard_type,standard_units,standard_upper_value,standard_value,target_chembl_id,target_organism,target_pref_name,target_tax_id,text_value,toid,type,units,uo_units,upper_value,value
,,185163,[],CHEMBL657316,Binding affinity towards human Caspase-8,B,,,BAO_0000190,BAO_0000357,single protein format,CC(C)C[C@H](NC(=O)CNc1cccc2ccccc12)C(=O)N[C@H](C=O)CC(=O)O,,,CHEMBL1146752,Bioorg Med Chem Lett,2004,"{'bei': '19.72', 'le': '0.37', 'lle': '6.21', 'sei': '6.54'}",CHEMBL90224,,CHEMBL90224,8.15,0,http://www.openphacts.org/units/Nanomolar,165422,=,1,1,=,,IC50,nM,,7.0,CHEMBL3776,Homo sapiens,Caspase-8,9606,,,IC50,uM,UO_0000065,,0.007
,,191485,[],CHEMBL657316,Binding affinity towards human Caspase-8,B,,,BAO_0000190,BAO_0000357,single protein format,CC(C)C[C@H](NC(=O)C(=O)Nc1cccc2ccccc12)C(=O)N[C@H](C=O)CC(=O)O,,,CHEMBL1146752,Bioorg Med Chem Lett,2004,"{'bei': '15.78', 'le': '0.30', 'lle': '5.28', 'sei': '4.76'}",CHEMBL90307,,CHEMBL90307,6.75,0,http://www.openphacts.org/units/Nanomolar,165419,=,1,1,=,,IC50,nM,,179.0,CHEMBL3776,Homo sapiens,Caspase-8,9606,,,IC50,uM,UO_0000065,,0.179
,,194920,[],CHEMBL657316,Binding affinity towards human Caspase-8,B,,,BAO_0000190,BAO_0000357,single protein format,CC(C)C[C@H](NC(=O)COc1cccc2ccccc12)C(=O)N[C@H](C=O)CC(=O)O,,,CHEMBL1146752,Bioorg Med Chem Lett,2004,"{'bei': '14.75', 'le': '0.28', 'lle': '4.20', 'sei': '5.02'}",CHEMBL330535,,CHEMBL330535,6.11,0,http://www.openphacts.org/units/Nanomolar,165349,=,1,1,=,,IC50,nM,,770.0,CHEMBL3776,Homo sapiens,Caspase-8,9606,,,IC50,uM,UO_0000065,,0.77
,,266593,[],CHEMBL659710,Inhibition of Caspase-8 enzyme,B,,,BAO_0000190,BAO_0000357,single protein format,CC(C)CC(NC(=O)[C@@H](CCC(=O)O)Oc1cccc2ccccc12)C(=O)N[C@H]1CC(=O)OC1O,,,CHEMBL1134915,Bioorg Med Chem Lett,2002,"{'bei': '16.28', 'le': '0.31', 'lle': '6.19', 'sei': '5.24'}",CHEMBL100643,,CHEMBL100643,7.92,0,http://www.openphacts.org/units/Nanomolar,187723,=,1,1,=,,IC50,nM,,12.0,CHEMBL3776,Homo sapiens,Caspase-8,9606,,,IC50,uM,UO_0000065,,0.012
,,269086,[],CHEMBL659710,Inhibition of Caspase-8 enzyme,B,,,BAO_0000190,BAO_0000357,single protein format,CC(C)C[C@H](NC(=O)C(C)Nc1cccc2ccccc12)C(=O)N[C@H]1CC(=O)OC1O,,,CHEMBL1134915,Bioorg Med Chem Lett,2002,"{'bei': '18.17', 'le': '0.34', 'lle': '5.85', 'sei': '6.65'}",CHEMBL3142757,,CHEMBL3142757,7.77,0,http://www.openphacts.org/units/Nanomolar,187733,=,1,1,=,,IC50,nM,,17.0,CHEMBL3776,Homo sapiens,Caspase-8,9606,,,IC50,uM,UO_0000065,,0.017
,,270365,[],CHEMBL659710,Inhibition of Caspase-8 enzyme,B,,,BAO_0000190,BAO_0000357,single protein format,CC(C)C(NC(=O)COc1cc2ccccc2cc1C(=O)O)C(=O)N[C@H]1CC(=O)OC1O,,,CHEMBL1134915,Bioorg Med Chem Lett,2002,"{'bei': '15.07', 'le': '0.29', 'lle': '5.89', 'sei': '4.43'}",CHEMBL328155,,CHEMBL328155,6.70,0,http://www.openphacts.org/units/Nanomolar,187737,=,1,1,=,,IC50,nM,,200.0,CHEMBL3776,Homo sapiens,Caspase-8,9606,,,IC50,uM,UO_0000065,,0.2
,,270370,[],CHEMBL659710,Inhibition of Caspase-8 enzyme,B,,,BAO_0000190,BAO_0000357,single protein format,CC(C)C(NC(=O)CNc1cccc2ccccc12)C(=O)N[C@H]1CC(=O)OC1O,,,CHEMBL1134915,Bioorg Med Chem Lett,2002,"{'bei': '15.89', 'le': '0.30', 'lle': '5.21', 'sei': '5.44'}",CHEMBL323322,,CHEMBL323322,6.35,0,http://www.openphacts.org/units/Nanomolar,187732,=,1,1,=,,IC50,nM,,450.0,CHEMBL3776,Homo sapiens,Caspase-8,9606,,,IC50,uM,UO_0000065,,0.45
,,270375,[],CHEMBL659711,Inhibitory concentration of compound required against Caspase-8 enzyme compared to acylated dipeptides,B,,,BAO_0000190,BAO_0000357,single protein format,CC(C)C[C@@H](NC(=O)OCc1ccccc1)C(=O)C[C@H]1CC(=O)OC1O,,,CHEMBL1134915,Bioorg Med Chem Lett,2002,"{'bei': '11.84', 'le': '0.23', 'lle': '2.13', 'sei': '4.22'}",CHEMBL319251,,CHEMBL319251,4.30,0,http://www.openphacts.org/units/Nanomolar,187728,=,1,1,=,,IC50,nM,,50000.0,CHEMBL3776,Homo sapiens,Caspase-8,9606,,,IC50,uM,UO_0000065,,50.0
,,271732,[],CHEMBL659710,Inhibition of Caspase-8 enzyme,B,,,BAO_0000190,BAO_0000357,single protein format,CC(C)C(NC(=O)COc1cccc2c(NS(=O)(=O)C(F)(F)F)cccc12)C(=O)N[C@H]1CC(=O)OC1O,,,CHEMBL1134915,Bioorg Med Chem Lett,2002,"{'bei': '11.34', 'le': '0.23', 'lle': '4.84', 'sei': '3.88'}",CHEMBL100559,,CHEMBL100559,6.21,0,http://www.openphacts.org/units/Nanomolar,187735,=,1,1,=,,IC50,nM,,615.0,CHEMBL3776,Homo sapiens,Caspase-8,9606,,,IC50,uM,UO_0000065,,0.615

## **Step 3: Bioactivity Data Retrieval**

In [ ]:
### Retrieve bioactivity data (IC50) for the selected CASP8 target.

### Inspecting missing values for the standard_type column.

In [ ]:
df1['standard_type'].isnull().sum()

np.int64(0)

### filter rows with valid Bioactivity values.

In [ ]:
df2 = df1[df1['standard_value'].notna()]
df2.head()

,action_type,activity_comment,activity_id,activity_properties,assay_chembl_id,assay_description,assay_type,assay_variant_accession,assay_variant_mutation,bao_endpoint,...,target_organism,target_pref_name,target_tax_id,text_value,toid,type,units,uo_units,upper_value,value
0,None,None,185163,[],CHEMBL657316,Binding affinity towards human Caspase-8,B,None,None,BAO_0000190,...,Homo sapiens,Caspase-8,9606,None,None,IC50,uM,UO_0000065,None,0.007
1,None,None,191485,[],CHEMBL657316,Binding affinity towards human Caspase-8,B,None,None,BAO_0000190,...,Homo sapiens,Caspase-8,9606,None,None,IC50,uM,UO_0000065,None,0.179
2,None,None,194920,[],CHEMBL657316,Binding affinity towards human Caspase-8,B,None,None,BAO_0000190,...,Homo sapiens,Caspase-8,9606,None,None,IC50,uM,UO_0000065,None,0.77
3,None,None,266593,[],CHEMBL659710,Inhibition of Caspase-8 enzyme,B,None,None,BAO_0000190,...,Homo sapiens,Caspase-8,9606,None,None,IC50,uM,UO_0000065,None,0.012
4,None,None,269086,[],CHEMBL659710,Inhibition of Caspase-8 enzyme,B,None,None,BAO_0000190,...,Homo sapiens,Caspase-8,9606,None,None,IC50,uM,UO_0000065,None,0.017

In [ ]:
df2.shape

(457, 46)

### Assign Bioactivity Classes: Define active, intermediate and inactive classes based on IC50 values.

In [ ]:
df2.describe()

,activity_id,document_year,potential_duplicate,record_id,src_id,standard_flag
count,4.570000e+02,457.000000,457.000000,4.570000e+02,457.000000,457.0
mean,3.734466e+06,2006.656455,0.024070,7.692733e+05,2.774617,1.0
std,5.886198e+06,4.431512,0.153435,8.839712e+05,9.413944,0.0
min,1.851630e+05,2002.000000,0.000000,3.166100e+04,1.000000,1.0
25%,1.421442e+06,2005.000000,0.000000,3.654530e+05,1.000000,1.0
50%,1.660577e+06,2005.000000,0.000000,4.113440e+05,1.000000,1.0
75%,1.938683e+06,2007.000000,0.000000,6.468840e+05,1.000000,1.0
max,2.880650e+07,2024.000000,1.000000,4.597317e+06,65.000000,1.0

In [ ]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 457 entries, 0 to 458
Data columns (total 46 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   action_type                3 non-null      object
 1   activity_comment           7 non-null      object
 2   activity_id                457 non-null    int64
 3   activity_properties        457 non-null    object
 4   assay_chembl_id            457 non-null    object
 5   assay_description          457 non-null    object
 6   assay_type                 457 non-null    object
 7   assay_variant_accession    0 non-null      object
 8   assay_variant_mutation     0 non-null      object
 9   bao_endpoint               457 non-null    object
 10  bao_format                 457 non-null    object
 11  bao_label                  457 non-null    object
 12  canonical_smiles           455 non-null    object
 13  data_validity_comment      27 non-null     object
 14  data_validity_description  27 non-null     object
 15  document_chembl_id         457 non-null    object
 16  document_journal           440 non-null    object
 17  document_year              457 non-null    int64
 18  ligand_efficiency          272 non-null    object
 19  molecule_chembl_id         457 non-null    object
 20  molecule_pref_name         6 non-null      object
 21  parent_molecule_chembl_id  457 non-null    object
 22  pchembl_value              275 non-null    object
 23  potential_duplicate        457 non-null    int64
 24  qudt_units                 457 non-null    object
 25  record_id                  457 non-null    int64
 26  relation                   457 non-null    object
 27  src_id                     457 non-null    int64
 28  standard_flag              457 non-null    int64
 29  standard_relation          457 non-null    object
 30  standard_text_value        0 non-null      object
 31  standard_type              457 non-null    object
 32  standard_units             457 non-null    object
 33  standard_upper_value       0 non-null      object
 34  standard_value             457 non-null    object
 35  target_chembl_id           457 non-null    object
 36  target_organism            457 non-null    object
 37  target_pref_name           457 non-null    object
 38  target_tax_id              457 non-null    object
 39  text_value                 0 non-null      object
 40  toid                       0 non-null      object
 41  type                       457 non-null    object
 42  units                      457 non-null    object
 43  uo_units                   457 non-null    object
 44  upper_value                0 non-null      object
 45  value                      457 non-null    object
dtypes: int64(6), object(40)
memory usage: 167.8+ KB

In [ ]:
bioactivity_class = []
for value in df2.standard_value:
  value = float(value)
  if value >= 10000:
    bioactivity_class.append('inactive')
  elif value <= 1000:
    bioactivity_class.append('active')
  else:
    bioactivity_class.append('intermediate')

## **Extract Relevant Columns.**

In [ ]:
molecule_ids = df2.molecule_chembl_id.tolist()
canonical_smiles = df2.canonical_smiles.tolist()
standard_values = df2.standard_value.tolist()

In [ ]:
data = list(zip(
    molecule_ids,
    canonical_smiles,
    standard_values,
    bioactivity_class
))

## **Step 4: Preprocessing**

### Create Preprocessed bioactivity Dataset

In [ ]:
df3 = pd.DataFrame(
    data,
    columns = [
        'molecule_chembl_id',
        'canonical_smiles',
        'standard_values',
        'bioactivity_class'
    ]
)


df3.head()

,molecule_chembl_id,canonical_smiles,standard_values,bioactivity_class
0,CHEMBL90224,CC(C)C[C@H](NC(=O)CNc1cccc2ccccc12)C(=O)N[C@H]...,7.0,active
1,CHEMBL90307,CC(C)C[C@H](NC(=O)C(=O)Nc1cccc2ccccc12)C(=O)N[...,179.0,active
2,CHEMBL330535,CC(C)C[C@H](NC(=O)COc1cccc2ccccc12)C(=O)N[C@H]...,770.0,active
3,CHEMBL100643,CC(C)CC(NC(=O)[C@@H](CCC(=O)O)Oc1cccc2ccccc12)...,12.0,active
4,CHEMBL3142757,CC(C)C[C@H](NC(=O)C(C)Nc1cccc2ccccc12)C(=O)N[C...,17.0,active

In [ ]:
df3['bioactivity_class'].value_counts()

bioactivity_class
inactive        212
intermediate    144
active          101
Name: count, dtype: int64

### Remove Compounds without valid SMILES. Drop rows with NaN, empty or None SMILES values.

In [ ]:
df3['canonical_smiles'].isnull().sum()

np.int64(2)

In [ ]:
df3 = df3.dropna(subset = ['canonical_smiles'])
df3['canonical_smiles'] = df3['canonical_smiles'].str.lower().str.strip()
df3 = df3[df3['canonical_smiles'] != 'none']
df3 = df3[df3['canonical_smiles'] != ""]

In [ ]:
df3.shape

(455, 4)

### Save Preprocessed Bioactivity Data. Save the cleaned dataset to CSV and copy to Google Drive.

In [ ]:
df3.to_csv('bioactivity_preprocessed_data.csv', index = False)

In [ ]:
! cp bioactivity_preprocessed_data.csv "/content/drive/MyDrive/Colab Notebooks/Datasets"